*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --black: #373535;
    --white: #F8F8F8;
}

body{
    max-width: 1900px;
    position: relative;
    margin: 0 auto;
}


/* header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 20;
}

.nav-logo{
    height: 58px;
    margin-left: 50px;
}

.navbar-list{
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

.navbar-list li,.nav-social-list li {
    margin: 0 30px;
    font-size: 20px;
}

.navbar-list li a,.nav-social-list li a{
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    
}

.nav-social-list{
    font-size: 20px;
    margin-right: 20px;
}

.nav-social-list{
    display: flex;
    list-style: none;
}

.main-banner-cont img{
    width: 100%;
}

.main-banner-cont{
    width: 100%;
    height: 100vh;
    background: url(img/index-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -100px;
    filter: brightness(.8);
}

.banner-tienda {
    background: url(img/tienda-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -180px;
}
.banner-nosotros {
    background: url(img/nosotros-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -180px;
}

.main-banner-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-banner-cont div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-banner-cont a {
    font-size: 80px;
    text-decoration: none;
    color: var(--white);
    border: 3px solid var(--white);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: lighter;
    border-radius: 2px;
    box-shadow: 1px 1px 3px var(--black);
    transition: all .5s ease;
}

.main-banner-cont a:hover{
    background-color: var(--black);
    border: 3px solid var(--black);
}

.main-banner-cont p {
    font-size: 30px;
    color: var(--white);
    margin-top: 20px;
}

.title-container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-container h2 {
    font-size: 30px;
}

.title-container hr {
    width: 30%;
    height: 3px;
    background-color: #37353521;
    border: none;
}

.left-line {
    margin-bottom: 20px;
    transform: translateX(-200px);
}
.right-line {
    margin-top: 20px;
    transform: translateX(200px);
}

.principales-compras-index-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.card-index {
    height: 400px;
    width: 300px;
    margin: 0 20px;
    
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px var(--black);
}

.Shorts {
    background:url(img/shorts.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Camperas {
    background:url(img/camperas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.Carteras {
    background:url(img/carteras.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.local-1 {
    background:url(img/local-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.local-2 {
    background:url(img/local-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.local-3 {
    background:url(img/local-3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-index a {
    z-index: 2;
    color: var(--white);
    text-decoration: none;
    border: 2px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    box-shadow: 1px 1px 10px var(--black);
    transition: all .5s ease;
    text-transform: uppercase;
}

.card-index a:hover {
    background-color: var(--black);
    border: 2px solid var(--black);
}

.false-bg{
    height: 100%;
    width: 100%;
    background-color: #3735355b;
    position: absolute;
}

.sobre-nosotros-container{
    margin: 0 auto;
    height: 500px;
    width: 60%;
    background-color: var(--white);
    display: flex;
    /* justify-content: center; */
    margin-bottom: 100px;
    box-shadow: 1px 1px 5px #3735354d;
}

.left-box{
    background: url(img/post-girl.png);
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position: center;
}

.right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-box h2{
    font-size: 40px;
    margin-bottom: 10px;
}


.right-box p {
    font-size: 20px;
    width: 400px;
    margin-bottom: 20px;
}

.right-box a {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 300px;
    height: 60px;
    border: 2px solid var(--black);
    color: var(--black);
    transition: all .5s ease;
}

.right-box a:hover {
   background-color: var(--black);
   color: var(--white);
}

.right-box a i {
    margin-left: 30px;
}

/* footer */

footer{
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

footer ul {
    list-style: none;
    padding: 30px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-line {
    height: 80%;
}

footer .rights-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rights-box hr{
    width: 100%;
    transform: translateY(-20px);
    border: none;
    height: 1px;
    background-color: var(--white);
}

footer div div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    border-radius: 3px;
    justify-content:center;
    background-color: gray;
}

footer div div img {
    margin-right: 20px;
}

footer ul li {
    margin-top: 10px;
    font-size: 20px;
}

footer ul li i {
    margin-right: 5px;
}
footer ul, footer div {
    margin: 40px 100px;
}

.logo-footer {
    height: 48px;
}

.title-footer{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

#burguer-menu{
    margin-right: 60px;
    font-size: 30px;
    background: transparent;
    border: none;
    color: var(--white);
}

#mobile-menu{
    background-color: var(--white);
    position: fixed;
    top:0;
    right:-200%;
    z-index: 30;
    width: 300px;
    height: 100%;
    box-shadow: 1px 1px 10px var(--black);
    transition: all .5s ease;
}

#mobile-menu ul {
    list-style: none;
}

#mobile-menu ul li {
    font-size: 24px;
}

#mobile-menu ul li a {
    text-decoration: none;
    color: var(--black);
}

.media-mobile-title {
    font-weight: bolder;
    text-decoration: underline;
}

.mobile-navbar-list{
    margin: 30px 0;
}

.mobile-navbar-list li, .mobile-nav-social-list li {
    margin: 30px;
}

.mobile-nav-social-list li a i {
   margin-right: 10px; 
}

#close-menu-btn{
    border: none;
    font-size: 25px;
    margin-left: 30px;
    margin-top: 10px;
}

.drop-btns-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.drop-btns-container button {
    width: 60%;
    height: 80px;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    position: relative;
    border: 2px solid var(--black);
    background: transparent;
    box-shadow: 1px 1px 5px #37353546;
    border-radius: 3px;
    transition: all .5s ease;
    cursor: pointer;
}
.drop-btns-container button:hover {
    background-color: var(--black);
    color: var(--white);
}

.drop-btns-container button i {
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 20px;
}

@media screen and (min-width:1201px) {
    #burguer-menu,#mobile-menu{
        display: none;
    }
    
}

@media screen and (max-width:1200px) {
    footer ul li {
        font-size: 11px;
    }

    nav,.nav-social-list {
        display: none;
    }

}
@media screen and (max-width:1150px) {
    footer{
        height: auto;
        flex-direction: column;
    }

    .div-line {
        height: 1px;
        width: 90%;
        border: none;
        background: white;
    }

    .sobre-nosotros-container{
        width: 85%;
    }

    .drop-btns-container button {
        width: 85%;
    }
}
@media screen and (max-width:750px) {
    .main-banner-cont a {
        font-size: 50px;
        height: 95px;
    }

    .right-line, .left-line {
        transform: translateX(0);
    }

    .principales-compras-index-cards-container {
        flex-direction: column;
    }

    .card-index {
        margin-top: 30px;
    }
    
    .title-container {
        margin-bottom: 50px;
        margin-top: 10px;
    }

    .left-box{
        display: none;
    }
    
    .right-box h2{
        font-size: 30px;
        background-color: var(--black);
        color: var(--white);
        width: 100%;
        position: absolute;
        top: 0;
        padding: 10px;
        box-shadow: 1px 1px 4px var(--black);
        text-align: center;
    }

    .right-box p {
        width: auto;
        text-align: center;
        margin-top: 60px;
        transform: translateY(20px);
    }

    .right-box a {
        width: 260px;
        height: 56px;
        font-size: 24px;
    }

    .right-box {
        align-items: center;
        justify-content: space-around;
        position: relative;
    }

    #right-box-nosotros {
        justify-content: center;
    }

    .first-text{
        padding-top: 70px;
    }

    #right-box-nosotros p{
        margin-top: 0;
        transform: translateY(0);
        margin: 20px;
    }

    .sobre-nosotros-container {
        height: 300px;
    }

    #sob-nos-original {
        height: auto;
    }

    #burguer-menu {
        margin-right:30px;
    }

    .nav-logo {
        margin-left: 25px;
    }
}